<h1>Game of Thrones Spoilers</h1>
<p>@Model.GetNameOne() becomes Lord Commander of Night’s Watch.
@Model.GetNameTwo() becomes Ally of House Targaryen.
@Model.GetNameThree() becomes Queen of Westeros.</p>


 <p>@Model.GetNameOne() destroys Sept with Wildfire.
@Model.GetNameTwo() destroys White Walker with Valyrian Steel.
@Model.GetNameThree() destroys Children of the Forest with Wights.</p>

<p>@Model.GetNameThree() kills Jon Snow with a Dagger at Castle Black.
@Model.GetNameTwo() kills Tywin with a Crossbow at King’s Landing.
@Model.GetNameOne() kills Margaery with Wildfire at the Sept.</p>

<img src="../image/img.jpeg" >
